!!! 5
html(lang="en", class="no-js")
  head
    meta(charset="utf-8")
    meta(name="description", content= "Description")
    meta(name="author", content= "Author")
    title= title
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet",type="text/css",href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css")
    link(rel="stylesheet", href="/css/screen.css")

  body
    header#page_header
      h1
        a(href: "#") notlr
      nav
        ul
          li
            a(href: "javascript:void(0)")#add_note Add Note
          li
            a(href: "javascript:void(0)")#settings Settings
          li
            a(href: "javascript:void(0)")#help Help
          li
            a(href: "/logout")#log_out Log out

    #main!=body

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js")
    script(src="/js/jquery.scrollTo-min.js")
    script(src="/js/socket.io.js")
    script(src="/js/plugins.js?v=1")
    script(src="/js/script.js?v=1")

