@font-face {
  font-family: Delicious Italic;
  src: url('/fonts/Delicious-Italic.otf');
}
@font-face {
  font-family: Delicious Bold;
  src: url('/fonts/Delicious-Bold.otf');
}
body { background-color: #2d7258; }
.menu ul { width: 70px; }
.menu .item {
  font-family: Delicious Italic;
  font-size: 18px;
  display: block;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 3px;
  margin-top: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #003853;
  color: #8fc997;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  left: -75px;
  width: 100%;
  -webkit-transition: left 0.1s ease-in-out;
  -webkit-box-shadow: 2px 2px 8px #003853;
  cursor: pointer;
  z-index: 1000000;
}
.menu .item:after {
  text-align: right;
  content: attr(data-icon);
  display: block;
  float: right;
  margin-right: 6px;
}
.menu .item:hover { left: -30px; }
#notes {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#notes .note {
  position: absolute;
  margin: 8px 0 0 8px;
  width: 160px;
  background-color: #facc82;
  cursor: default !important;
  border: 1px solid #deac37;
  border-radius: 8px;
  padding: 5px;
  -webkit-box-shadow: 2px 2px 8px #003853;
  -webkit-transition: -webkit-transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
  background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.699219))), url(/images/noise.png);
}
#notes .note .title {
  padding: 5px;
  color: #003853;
  text-shadow: #888888 0 1px 2px;
  border-bottom: 1px solid #deac37;
  font-size: 1.7em;
  font-family: Delicious Bold;
}
#notes .note .content {
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  min-height: 80px;
  padding: 5px;
  font-family: Delicious Italic;
}
#notes .note .actions {
  text-align: right;
  padding: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  cursor: move;
}
#notes .note:hover { background-color: #f2dea2; }
#notes .note:hover .actions { opacity: 1; }
#notes .note.ui-draggable-dragging { -webkit-transform: rotate(-4deg); }
