@seeing_apparitions: #F2DEA2;
@cupids_crush: #FACC82;
@fully_embraced: #DEAC37;
@forest_light: #8FC997;
@forest_canopy: #52A35C;
@giving_tree: #2D7258;
@tail: #003853;

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face { font-family: Delicious Italic; src: url('/fonts/Delicious-Italic.otf'); }
@font-face { font-family: Delicious Bold; src: url('/fonts/Delicious-Bold.otf'); }

html { width: 100% ; height: 100% }
body {
  background-color: @giving_tree;
  width: 100%;
  height: 97%;
}

.menu {
  @menu_width: 70px;
  ul { width: @menu_width; }
  .item {
    font-family: Delicious Italic;
    font-size: 18px;
    display: block;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 3px;
    margin-top: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: @tail;
    color: @forest_light;
    text-shadow: rgba(255,255,255,0.5) 0 1px 0;
    left: -5px - @menu_width;
    width: 100%;
    -webkit-transition: left 0.1s ease-in-out;
    -webkit-box-shadow: 2px 2px 8px @tail;
    cursor: pointer;
    z-index: 1000000;

    :after {
      text-align: right;
      content: attr(data-icon);
      display: block;
      float: right;
      margin-right: 6px;
    }

    :hover {
      left: -30px;
    }
  }
}

#notes {
  margin: 0;
  padding:0;
  list-style-type: none;

  .note {
  position: absolute;
    margin: 8px 0 0 8px;
    width: 160px;
    background-color: @cupids_crush;
    cursor: default !important;
    border: 1px solid @fully_embraced;
    border-radius: 8px;
    padding: 5px;
    -webkit-box-shadow: 2px 2px 8px @tail;
    -webkit-transition: -webkit-transform 0.1s ease-in-out,
      background-color 0.1s ease-in-out;
    background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.699219))), url(/images/noise.png);

    .title {
      padding: 5px;
      color: @tail;
      text-shadow: #888 0 1px 2px;
      border-bottom: 1px solid @fully_embraced;
      font-size: 1.7em;
      font-family: Delicious Bold;
    }

    .content {
      text-shadow: rgba(255,255,255,.5) 0 1px 0;
      min-height: 80px;
      padding: 5px;
      font-family: Delicious Italic;
    }

    .actions {
      text-align: right;
      padding: 5px;
      opacity: 0;
      -webkit-transition: opacity 0.2s ease-in;
      cursor: move;
    }

    :hover {

      background-color: @seeing_apparitions;

      .actions {
        opacity: 1;
      }
    }

  }
  .note.ui-draggable-dragging {
    -webkit-transform: rotate(-4deg);
  }
}

